<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio</title>
</head>
<body>
    <div id="navbar" class="bg-dark border-b border-primary w-full h-10 flex items-center justify-evenly">
        <div id="logo" class="text-sm">
            <span class="font-bold size-1 text-white">LAKA</span>
            <span class="font-semibold text-primary">FAIZUL</span>
        </div>
        <div id="link" value="Laka" class="w-5/12 flex justify-evenly">
            <a href="/contact" class="text-xs text-white font-sans">Services</a>
            <a href="" class="text-xs text-white font-sans">Portfolios</a>
            <a href="" class="text-xs text-white font-sans">Experiences</a>
            <a href="" class="text-xs text-white font-sans">Contact</a>
        </div>
        <div id="iconwrapper">
            <img id="icon" src="./img/hamburger.png" alt="menu" class="h-5 w-auto invert">
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>